:root {
  --main-black: black;
  --main-white: white;
  --main-gray: #e5e5e5;
  --main-indigo: #14213d;
  --main-orange: #fca311;
  --main-red: red;
  --gaegu: "Gaegu", cursive;
  --jua: "Jua", sans-serif;
}

html {
  width: 500px;
  height: 500px;
}

body {
  margin: 0;
  /* width: 500px; */
  height: 500px;
  background: var(--main-gray);
  overflow-x: hidden;
}

header {
  margin: 0;
  height: 60px;
}

.logo {
  width: 120px;
  height: 60px;
}

.navigation-container {
  height: 60px;
}

.link-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 55px;
  border: 1px solid red;
  background: var(--main-white);
  font-family: var(--jua);
  font-size: 20px;
}

.nav-link {
  width: 34%;
  text-align: center;
}

.nav-link span {
  color: var(--main-black);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.marker {
  position: relative;
  left: 10px;
  width: 150px;
  height: 3px;
  background: var(--main-black);
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.carousel-container {
  position: relative;
}

.carousel {
  position: absolute;
  left: 0;
  display: flex;
  width: 300%;
  transition: all 0.3s ease-in-out;
}

.slide {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 500px;
  background: var(--main-gray);
}

.current-tabs {
  margin-top: 5px;
}

.search-container {
  width: 98%;
  padding: 6px;
}

.search {
  border: 1px solid var(--main-gray);
  border-radius: 8px;
  padding: 8px 6px 10px 40px;
  line-height: 48px;
  height: 48px;
  width: 100%;
  background-image: url(./assets/images/search-icon.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position-y: center;
  background-position-x: 16px;
  font-size: 14px;
  box-sizing: border-box;
}

.window {
  margin-bottom: 20px;
  width: 88%;
}

.tabs-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: var(--jua);
  font-size: 20px;
}

.tabs-buttons-container {
  display: flex;
  align-items: center;
}

.tabs-button {
  position: relative;
  border: 3px solid #343436;
  border-radius: 5px;
  background: var(--main-indigo);
  color: var(--main-white);
  cursor: pointer;
  font-size: 15px;
}

.tabs-button:hover {
  background: #4d4d50;
}

.tabs-save-button {
  margin-right: 5px;
  padding: 0 8px;
}

.tabs-delete-button {
  padding: 5px 8px;
}

.tab-list {
  width: 100%;
  margin-top: 4px;
}

.tab-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-top: 3px;
  height: 40px;
  background: var(--main-white);
  border: 1px solid black;
  border-radius: 10px;
}

.tab-entry:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.3s ease-in-out;
}

.current {
  background: var(--main-orange);
}

.tab-title-button {
  display: flex;
  align-content: center;
  width: 361px;
  height: 100%;
  padding-left: 7px;
  border: none;
  background: inherit;
  cursor: pointer;
}

.tab-title {
  margin: 0;
  padding-top: 10px;
  font-family: var(--jua);
  font-size: 15px;
  white-space: nowrap;
  overflow-x: hidden;
}

.tab-icon-button {
  width: 30px;
  height: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: inherit;
  cursor: pointer;
}

.icon {
  width: 25px;
  height: 24px;
  cursor: pointer;
}

/*나중에 css 확인 후 바꾸던지*/
/* .tab-groups {
  margin-top: 10px;
} */

.buttons-container {
  display: flex;
  margin-top: 20px;
}

/*tabGroups용 버튼 차후 수정예정 */
.group-button {
  padding: 18px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

.delete {
  width: 15%;
  background-color: #f1c47b;
  color: var(--main-white);
}

.collapsible {
  width: 85%;
  background-color: #777;
  color: var(--main-white);
}

.delete:hover {
  background-color: var(--main-orange);
}

.active,
.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  float: right;
  margin-left: 5px;
  content: "\002B";
  color: var(--main-white);
  font-weight: bold;
}

.active:after {
  content: "\2212";
}

.expansion {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
